<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net" />
	</configSections>
	<log4net>
		<root>
			<level value="All" />
			<appender-ref ref="GeneralAppender" />
		</root>
		<logger name="GeneralLogger">
			<level value="All" />
			<appender-ref ref="GeneralAppender" />
		</logger>
		<appender name="GeneralAppender" type="log4net.Appender.RollingFileAppender">
			<file value="D:\Logs\Servicios\BCP_log.txt" />
			<AppendToFile value="true" />
			<rollingStyle value="size" />
			<statisLogFileName value="true" />
			<maxSizeRollBackups value="1" />
			<maximunFileSize value="5120Kb" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%m%n" />
			</layout>
		</appender>
	</log4net>
</configuration>